doctype html
html
  head

    block title
      title Default title

    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet" href="/vendor/css/vendor.css")
    link(href='http://fonts.googleapis.com/css?family=Trade+Winds|Smokum|Federant|Passero+One|Roboto' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/vendor/fonts/font-awesome-4.3.0/css/font-awesome.min.css")

    block head

  body

    .container
      .navbar

        block navbar
        .login
          .notice= notice
      block container      

      //- img(src="/images/p1_extra_BMM_Parting_Aug10.jpg")
      .bottom

    block content


  footer
    .footer.

        stuff to see what it looks like
    block footer
