extends layouts/main.jade

block title
  title Braggin Rights - Home

block head

block content
  .signin_register_button
    .signin_button
      a(class="signin_link" href="/signin") Register
    .register_button 
      a(class="register_link" href="/register") Register
