extends layouts/main.jade

block title
  title Join

block head

block content
  .overlay
    img(src="/public/images/p1_extra_BMM_Parting_Aug10.jpg")
    .join_tournament
      ul.tournment_lists
        li.tournaments_list
          a(class="join_link" href="/user/entry") All-Childrens Hospital Benefit Tournament - Kissimmee Chain of Lake, Lake Wales, FL 4/18/2015
        li.tournaments_list
          a(class="join_link" href="#") Legoland Tournament - Winter Haven Chain of Lakes, Winter Haven FL 4/25/2015
        li.tournaments_list 
          a(class="join_link" href="#") Another Tournament Harris Chain of Lakes, Tavares FL 5/2/2015
      button(class="create_button" href="#") Add Tournament