extends layouts/main.jade

block title
  title Join A Tournament

block content
  h1.
    Braggin' Rights
  h2.
    "A Reel Life" Fishing Tournament App
  .join_tournament
    .new_tournament_button
      a(class="create_button" href="/tournaments/new") New
    ul.tournment_lists
      each tournament in tournaments
        li.tournaments_list
          a(class="join_link" href="/tournaments/#{tournament._id}/join")= tournament.name
