extends layouts/main.jade

block title
  title New Tournament

block head

block container
  h1.

  .new_tournament
    h3.tournament_name Create A New Tournament
    form.new_tournament_form(method="POST" action="/tournaments/new")
      p Tournament Name:  
        input(type="text" name="name" style="width: 600px;")
      p Lake:  
        input(type="text" name="lake" style="width: 700px;")
      p Ramp Location:  
        input(type="text" name="ramp_location" style="width: 626px;") 
      p Date:  
        input(type="text" name="date") 
      p Blast Off Time:  
        input(type="text" name="blast_off_time")
      button(type="submit" className="createTourButton") Create Tournament 

block content

block footer