extends layouts/main.jade

block title
  title Register Screen

block head

block content
  .registercontainer
    h3 Register
    form.registrationform(method="POST" action="/register")
      p Email:
        input(type="text" name="email")
      p Username: 
        input(type="text" name="username")
      p Password: 
        input(type="password" name="password")

      button(type="submit" className="registerbutton") Submit 