extends layouts/main.jade

block title
  title Results

block head

block content
  body.
  .tournament_results
    h3= tournament.name + " Results"
    
    h4 Results
    ol.results_list
      each entry in results
        li.participant
          .entry
            strong Username
            span= entry.user.username
            strong Total Weight
            span= entry.total_weight


    h4 Users Yet To Enter
    ul.pending_list
      each user in pendingUsers
        li.participant= user.username


