extends layouts/main.jade

block title
  title Results

block head

block content
  body.
  .tournament_results
    h3 Tournament Name Rusults
    ol.resluts_list
      li.participant Jeff Beck 23.14 lbs
      li.participant Name 2 22.14lbs lbs
      li.participant Name 3 21.14lbs lbs
      li.participant Name 4 20.14lbs lbs
      li.participant Name 5 19.14lbs lbs
      li.participant Name 6 18.14lbs lbs
      li.participant Name 7 17.14lbs lbs
    button.entryformbtn Home


