extends layouts/main.jade

block title
  title Sign In Screen

block container
  h1.
    Braggin' Rights
  h2.
    A &nbsp<i>"Reel Life"</i>&nbsp Fishing Tournament App     

  .signin
    h3 Sign in to Enter
    form.signinform(method="POST" action="/signin")
      .emailbox
        p Email: 
          input(class="emailinput" type="text" name="email" style="width: 225px;")
      .passwordbox      
        p Password: 
          input(type="password" name="password" style="width: 195px;")

      button(type="submit" className="loginbutton") Submit

      p 
      .register_button 
        a(class="register_link" href="/register") If you have not signed in before, please click here to Register.

block content


block footer

 