body {
  font-family: 'Roboto', serif;
}
body .container {
  margin: 0;
  background: linear-gradient(rgba(9, 160, 206, 0.65), rgba(9, 160, 206, 0.65)), url("/images/p1_extra_BMM_Parting_Aug10.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position-y: -115px;
  background-color: #63a0ce;
}
body .container img {
  width: 100%;
  height: auto;
  opacity: .4;
}
body .container h1 {
  font-family: 'Federant', serif;
  font-style: italic;
  font-size: 6em;
  color: #E4E6E7;
  text-shadow: 6px 6px 2px #196765;
  z-index: 1;
  display: inline-block;
  padding-top: 6%;
  padding-left: 23%;
  padding-right: 23%;
  text-align: center;
  margin-bottom: 20px;
}
body .container h2 {
  font-family: 'Federant', serif;
  font-size: 3em;
  display: inline-block;
  color: #C8BB9D;
  padding-top: 0%;
  padding-left: 16%;
  padding-right: 16%;
  text-align: center;
}
body .container .signin {
  z-index: -1;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 350px;
  height: 250px;
  border: 2px;
  border-style: inset;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
body .container .signin button {
  width: 75px;
  height: 25px;
  border-radius: 3px;
  font-size: 12px;
  color: darkblue;
}
body .container .signin h3 {
  padding-top: 5px;
}
body .container .signin h3,
body .container .signin p {
  text-align: center;
  text-shadow: 1px 1px 0 rgba(215, 227, 231, 0.7);
}
body .container .signin .register_button {
  display: inline-block;
  margin: 0 auto;
  width: 275px;
  height: 40px;
  text-align: center;
}
body .container .signin .register_button a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
body .container .signin .register_button:hover {
  text-shadow: 3px 3px 1px #d7e3e7;
}
body .container .new_tournament {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
body .container .new_tournament h3 {
  text-align: center;
}
body .container .new_tournament .new_tournament_form {
  position: relative;
  height: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  margin-bottom: 200px;
  border: 1px solid;
  padding-left: 15px;
  border-style: inset;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .container .new_tournament .new_tournament_form h3 {
  font-size: 2em;
  font-family: 'Federant', serif;
  text-align: center;
}
body .container .new_tournament .new_tournament_form p {
  text-align: left;
  padding-left: 25px;
}
body .container .new_tournament .new_tournament_form button {
  margin-bottom: 10px;
}
body .container .registercontainer {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
body .container .registercontainer .registrationform {
  position: relative;
  height: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  margin-bottom: 200px;
  border: 1px solid;
  padding-left: 15px;
  border-style: inset;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .container .entry {
  width: 100%;
  height: 450px;
  margin: 0 auto;
}
body .container .entry h3 {
  text-align: center;
}
body .container .entry button {
  margin-bottom: 10px;
}
body .container .entry .entryform {
  position: relative;
  height: auto;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
  margin-bottom: 200px;
  border: 1px solid;
  padding-left: 15px;
  border-style: inset;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .container .join_container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
body .container .join_container .join_tournament {
  position: relative;
  height: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  margin-bottom: 200px;
  border: 1px solid;
  padding-left: 15px;
  border-style: inset;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .container .join_container .join_tournament .new_tournament_button {
  margin: 20px;
  width: 175px;
  height: 24px;
  line-height: 1.5em;
  text-align: center;
  border-radius: 5px;
  background-color: #C8BA9C;
  border-style: outset;
}
body .container .join_container .join_tournament .new_tournament_button a {
  text-decoration: none;
  color: black;
}
body .container .join_container .join_tournament li {
  padding-top: 10px;
  padding-left: 5px;
  list-style: none;
}
body .container .join_container .join_tournament li :hover {
  background-color: lightyellow;
}
body .container .navbar {
  position: fixed;
  width: 98.7%;
  height: 75px;
  box-shadow: 1px 2px 5px #ffcc99;
  background-color: #195F7A;
  border-bottom: #777777 solid 1px;
  z-index: 12;
  top: 0px;
}
body .container .navbar .login {
  padding-top: 1px;
}
body .container .navbar h4 {
  font-family: 'Federant', serif;
  font-style: italic;
  font-size: 2em;
  margin-top: 15px;
  margin-left: 15px;
  color: #C8BA9C;
  text-shadow: 3px 3px 1px #1387AD;
  z-index: 1;
  display: inline-block;
  float: left;
}
body .container .navbar .signout_button {
  position: relative;
  padding-top: 15px;
  padding-right: 20px;
  float: right;
  display: inline-block;
  color: #cae5ed;
}
body .container .navbar .signout_button i {
  font-size: 2em;
}
body .container .navbar .signout_button a {
  text-decoration: none;
  color: #cae5ed;
}
body .container .tournament_results {
  position: relative;
  table-layout: auto;
  height: auto;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  margin-bottom: 200px;
  border: 1px solid;
  padding-left: 15px;
  border-style: inset;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
body .container .tournament_results td,
body .container .tournament_results th,
body .container .tournament_results h3 {
  text-align: center;
}
body .container .tournament_results h5 {
  text-align: center;
}
body .container .tournament_results h5 .leave_button {
  text-decoration: none;
  color: black;
}
body .container .tournament_results h5 .leave_button :hover {
  background-color: orange;
}
body .container .tournament_results .current_user {
  background: orange;
}
body .container .bottom {
  width: 100%;
  height: 50px;
  background: transparent;
  position: relative;
  bottom: 0;
  left: 0;
}
body footer {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #195F7A;
  border-top: 1px solid #777777;
  color: #C9BB9D;
  text-shadow: 1px 1px 0 #020201;
}
body footer i {
  padding-top: 10px;
  padding-left: 10px;
}
body footer h4 {
  font-family: 'Federant', serif;
  font-style: italic;
  font-size: 1.5em;
  color: #C8BA9C;
  text-shadow: 3px 3px 1px #1387AD;
  z-index: 1;
  display: inline-grid;
  text-align: center;
  margin-top: -11px;
}
body footer .footer {
  width: 100%;
  height: 12px;
  position: relative;
  bottom: 75;
  left: 0;
}
body .overlay {
  background-color: #63a0ce;
}
body .overlay img {
  width: 100%;
  height: auto;
  opacity: .4;
}
body .overlay .sign-in-out {
  position: absolute;
  padding-top: 2%;
  padding-left: 75%;
}
